<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604543360938-863916upd748u7kif9v1ic9dm12d7u78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604543360938-863916upd748u7kif9v1ic9dm12d7u78</string>
	<key>API_KEY</key>
	<string>AIzaSyBWg_ETyNkOkD9qfac_1NLrwGJW4dr4FH4</string>
	<key>GCM_SENDER_ID</key>
	<string>604543360938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.botFinal</string>
	<key>PROJECT_ID</key>
	<string>bot-final-eb1ac</string>
	<key>STORAGE_BUCKET</key>
	<string>bot-final-eb1ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604543360938:ios:1e6d5afe2b6dbec06115d3</string>
</dict>
</plist>